@model MVCAPP.Models.Store

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    <button type="button" id="btnAddStore" class="btn btn-success" data-toggle="modal" data-target="#storeModal" onclick="resetModal();">Add Store</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store Name
            </th>
            <th>
                Address
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbody" id="setStoreList"></tbody>
</table>

<div class="modal fade" id="storeModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createStoreForm" }))
                {

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Id, new { @id = "storeId" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "storeName" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "storeAddress" } })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button typ="button" class="btn btn-success" id="createBtn" onclick="addStore();">Create</button>
                <button type="button" class="btn btn-success" id="updateBtn" style="display:none;" onclick="updateStore();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/store.js"></script>
}

